.gambar-sawi{
    margin-top: 170px;
}
.container .carousel-controls{
position: absolute;
left: 50%;
bottom: 10%;
z-index: 10;
transform: translateX(-50%);
}

.container .carousel-indicators {
    position: relative;
    margin: 0;
   
    
}
.container .carousel-indicators button{
   width: 70px;
   height: 70px;
   background-position: center;
   background-size: cover;
    
}
span{
    color: rgb(160, 160, 160);
}

/* Deskripsi-Sawi */
.deskripsi-sawi{
justify-content: space-around;
margin-top: 20px;
}
.btn-beli{
    background-color: white;
    border: 2px solid #ffc107;
    font-size: 20px;
    border-radius: 10px;

}

.container .Rincian{
    margin-top: 200px;
}
.Link{
    text-decoration: none;
    color: black    ;
}



@media screen and (max-width:420px){
    .gambar-sawi{
        margin-top: 0 ;
        
    }
    .detail-carousel{
        background-color: white;
    }
    .Detail-page{
        font-size: 12px;
    }
    .deskripsi-sawi{
        justify-content: space-around;
        margin-top: 20px;    
    }
    .des-detail{
        font-size: 10px;
    }
    .container .Rincian{
        margin-top: 30px;
      
    }
    .container .carousel-controls{
        position: absolute;
        left: 50%;
        bottom: 10%;
        z-index: 10;
        transform: translateX(-50%); 
        }

        .slide{
            height: 320px;
        }
    
}
