.produk{
    background-color: #ffc107;
}
.imgproduk{
    width: 500px;
    margin-top:60px;
}
.imgproduk:hover{
    width: 600px;
    transition: 0.4s;
}


.imgprodukb{
    width: 500px;
    margin-top: 60px;
}
.imgprodukb:hover{
    width: 600px;
    transition: 0.4s;
}


.produk{
    height: 600px;
}
.selsectproduk{
    height:400px;
}

.bodyCard{
    height: 145px;
}

.editStart{
    font-size: 10px;
    float: right;
}



/* SAyur page */
.list-produk{
    width: 200px;
    margin:10px;
} 
.item{
    width: 190px;
    height: 199px;
}

.Sayur{
    flex-wrap: wrap;
    
    margin-left:100px ;
}
 .size-img{
    width: 150px !important;
    position: relative;
   
 }

 

 .oval{
    width: 150px;
    height: 150px;
    background-color: #ffc107;
    border-radius: 100%;
    position:absolute;
   margin-left: 25px;
   margin-top: 10px;
   display: none;
}

 .mini{
    width: 200px !important;
    position: relative;
 }
 .shopnow{
    justify-content: center;
    height: 120px;
  visibility: hidden;
 position: relative;
 }

 .item:hover .shopnow {
visibility: visible;
height: 70px;
margin-top: 20px;
transition: 0.4s;
 }

.item:hover .oval{
    display: block;
    transition: 0.4s;
}
 
.item:hover .size-img{
    width: 165px !important;
    transition: 0.5s;
 }


@media screen and (max-width:420px){

    .imgproduk{
        width: 100px;
    }
    .imgproduk:hover{
        width: 150px;
        transition: 0.4s;
    }
    .imgprodukb{
        width: 100px;
        margin-top: 120px;
    }
    .imgprodukb:hover{
        width: 150px;
        transition: 0.4s;
    }
    .selsectproduk{
        height:100px;
    }
    .produk{
        height: 450px;
    }

    /* SAyur page */
    .list-produk{
    width: 100px;
    height: 10px;
}
.item{
    width: 50px;
    height: 50px;
}
.card-title{
    font-size: 10px;
}
.Sayur{
    flex-wrap: wrap;
    
    margin-left:30px ;
}
.size-img{
    width: 50px !important;
    margin-left: 20px !important;
    margin-top: 15px !important;
 }
 .mini{
    width: 70px !important;
    margin-left: 20px !important;
    margin-top: 15px !important;
 }


 .editStart{
    font-size: 5px;
    float: right;
}
 
.oval{
    width: 50px;
    height: 50px;
    background-color: #ffc107;
    border-radius: 100%;
    position:absolute;
   margin-left: 25px;
   margin-top: 10px;
   display: none;
}

.item:hover  {
    visibility: visible;
    height: 70px;
    margin-top: 0px;
    transition: 0.4s;
  
     }

    .btn-Costum{
        font-size: 5px;
    }

    
    .item:hover .oval{
        display: block;
        transition: 0.4s;
    }
     
    .item:hover .size-img{
        width: 55px !important;
        transition: 0.5s;
     }
    
     .bodyCard{
        height: 85px;
    }
    
    .item:hover .shopnow {
        visibility: visible;
        height: 70px;
        margin-top: 20px;
        transition: 0.4s;
        margin-left: 50px;
         }


}